<!Doctype html>
<html lang="en">
	<head>
		
		<title>Instagram</title>

		<meta charset="utf-8">
   		<meta http-equiv="X-UA-Compatible" content="IE=edge">
   		<meta name="viewport" content="width=device-width, initial-scale=1">	

		<style>
			body
			{	
				background: url('https://goo.gl/pG7TGg');
				background-size: cover;
				color:black;
				font-family:helvetica;
			}
			input
			{
				color:black;
			}
			#footer
			{
				position:fixed;
				bottom:0;
				right:38%;
		
			}
		</style>
		
	</head>
	
	<body>
	
	<h1 align = center>Instagram Clone</h1>
	
	<div align = center>
	
	<form action ="" method ="POST">
	{% csrf_token %}
	<table>	
	<tr>
		<td>Username</td>
		<td> <input type="text" name="username" placeholder="username" value="{{ username }}"> </td>
	</tr>
	<tr>
		<td>Password </td>
		<td> <input type="password" name="password" placeholder="password" value="{{ password }}"> </td>
	</tr>
	<tr>
		<td></td>
		<td><input type="submit" value="Login"/>
			<input type="reset"  value="Reset">
		</td>	
	</tr>
	</table>	
	
	</form>
	
	</div>
	
	<footer>
	<div id="footer">
		<h3> Copyright &copy InstagramClone</h3>
	</div>
	</footer>
	
	</body>

</html>